@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
	margin: 0px;
	border: 0px;
	font-family: Open Sans;
}
.hcontainer{
	width: 100%;
	height: auto;/*360px;*/
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: gray;
	margin-top: 0;
	background-image: url('../imgs/fondo.jpg');
	background-size: 80rem;
	background-repeat: no-repeat;
}
.hcontainer p{
	padding: 10px;
}
.hcontainer .loginbox{
	width: 25%;
	height: 49%;
	margin-top: 50px;
	margin-left: 325px;
	background-color: rgb( 51, 255, 184,60%);
}
.loginbox h3{
	text-align: center;
	padding: 3px;
}
.loginbox form input[type="email"],form input[type="password"] {
	padding: 3px;
	margin-top: 10px;
	margin-bottom: 3px;
	margin-left: 10px;
}
.loginbox form input[type="submit"]{
	background-color: rgb(51,255,57);
	height: 25px;
	width: 35%;
	margin-top: 5px;
	margin-left: 10px;
	border-radius: 10px;
}
.loginbox form input[type="submit"]:hover{
	background-color: rgb(39,155,42);
	cursor: pointer;
	border-style: none;
	color: white;
	font-weight: bold;
}
.loginbox form a{
	font-size: 12px;
	text-decoration: none;
	margin-left: 70%;
	padding-bottom: -10px;
}
.resume{
	width: 50%;
	height: 200px;
	padding: 10px;
	margin-left: 13%;
	/*flex-direction: row;*/
	text-align: right;
	color: rgb( 238, 80, 142
);
	font-weight: lighter; 
	font-size: 25px;
}
.bcontainer{
	width: 100%;
	height: auto;
	display: flex;
	margin: auto;
	flex-wrap: wrap;	
	align-items: center;
	justify-content: center;
}
.fcontainer{
	width: 100%;
	height: auto;
	margin: auto;
	display: flex;
	justify-content: center;
	background-color: rgb(81,202,178);
}
.bcontainer h1{
	text-align: center;
}
.descrip h2{
	text-align: center;
	margin-bottom: 1px;
}
.descrip{
	margin-top: 1px;
	padding: 10px;
}
.card{
	width: 260px;
	height: 300px;
	margin: 5px 5px 5px 5px;
	padding: 1px 2px;
	background: #F9F9F9;
	justify-content: space-between;
	-webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
}
.cardimg{
	width: 95px;
	height: 100px;
	padding-bottom: 1px;
	display: block;
	margin: auto;	
	padding: 5px 5px 0px 5px;
}
.card-title{
	text-align: center;
	font: bold;
	padding: 0px;
}
.card-descrip{
	font-size: 12px;
	font-style: italic;
	padding: 1px 2px;	
}
.rrss{
	width: 90%;
	height: auto;
	background-color: red;
}
.logo{
	width: 35%;
	height: 20%;
	padding: 1%;
}

.contact{
	width: 60%;
	height: auto;
	background-color: orange;
}
textarea{
	resize: none;
}
.adress,.iconos{
	font-size: 12px;
	color: yellow;
}
.wsite{
	background-color: pink;
	text-align: center;
	padding: 0.2%;
}