@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body{
	font-family: Open Sans;
}
.hcontainer{
	width: 100%;
	height: 340px;
	display: flex;
	background-color: gray;
	margin-top: 0px;
}
.bcontainer{
	width: 100%;
	height: 500px;
	margin: auto;
	display: flex;
	justify-content: center;
	background-color: blue;
}
.fcontainer{
	width: 100%;
	height: 400px;
	margin: auto;
	display: flex;
	justify-content: center;
	background-color: rgb( 81,202,178);
}
.bcontainer h1{
	text-align: center;
}
.card{
	width: 302px;
	height: 285px;
	margin: 5px;
	padding: 1px 2px;
	background: #F9F9F9;
	align-self: center;
	-webkit-box-shadow: 8px 10px 15px -1px rgba(212,210,212,1);
	-moz-box-shadow: 8px 10px 15px -1px rgba(212,210,212,1);
	box-shadow: 8px 10px 15px -1px rgba(212,210,212,1);
}
.cardimg{
	width: 95px;
	height: 110px;
	padding-bottom: 1px;
	display: block;
	margin: auto;	
	padding: 5px 5px 0px 5px;
}
.card-title{
	text-align: center;
	font: bold;
	padding: 0px;
}
.descrip{
	font-size: 12px;
	font-style: italic;
	padding: 1px 2px;	
}

